.about-us {
  flex-basis: 41.66%;
  margin-right: auto;
}

.about-us__slogan {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  margin: 0;
  margin-bottom: 24px;
}

.about-us__text {
  margin: 0;
  color: #a1a1a1;
  font-size: 20px;
}

@media screen and (max-width: $tablet) {
  .about-us {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: $landscape-phone) {
  .about-us__slogan {
    font-size: 26px;
  }
}