.approachment__list {
  @include list-reset;
  display: flex;
}

.approachment__item {
  flex-basis: 50%;
  margin-right: 48px;

  &:nth-child(2n) {
    margin-right: 0;
  }

  &::before {
    display: block;
    width: 77px;
    height: 77px;
    margin-bottom: 48px;
    background: no-repeat center center;
    content: '';
  }
}

.approachment__item--lamp::before {
  background-size: 77px 77px;
  background-image: url("../img/step1.svg");
}

.approachment__item--multi-layer::before {
  background-size: 70px 70px;
  background-image: url("../img/step2.svg");
}

.approachment__title {
  margin: 0;
  margin-bottom: 10px;
}

@media screen and (max-width: $landscape-phone) {
  .approachment__list {
    display: block;
  }

  .approachment__item {
    margin-right: 0;
    margin-bottom: 32px;
  }
}