.blog-page {
  margin-top: 200px;
}

.blog-page__title {
  font-size: 74px;
  line-height: 1;
  font-weight: 700;
  margin: 0;
  margin-bottom: 48px;
}

.blog-page__heading {
  display: flex;
}

.blog-page__heading-texts {
  flex-basis: 50%;
  margin-right: auto;
}

.blog-page__description {
  font-weight: 900;
  margin-bottom: 24px;
  font-size: 20px;
  margin: 0;
}

.blog-page__btns {
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
}

.blog-page__heading-link {
  text-align: left;
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
  border-bottom: 1px solid hsla(0, 0%, 60.7%, 0.5);
  font-family: $montserrat;
  color: #9b9b9b;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;

  &:last-child {
    border-bottom: 0 solid #000;
  }
  
  &:hover {
    color: $accent-color;
  }
}

.blog-page__heading {
  margin-bottom: 96px;
}

.blog-page__date {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 96px;

  &::before {
    width: 100%;
    height: 1px;
    background-color: rgba(155, 155, 155, 0.5);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: '';
  }
}

.blog-page__date-inner {
  display: inline-block;
  padding-right: 40px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.blog-page__content-wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding-bottom: 48px;
}

.blog-page__content {
  flex-basis: 66%;
}

.blog-page__author {
  display: flex;
  align-items: center;
  padding: 32px 0;
  border: 1px solid rgba(155, 155, 155, 0.3);
  border-right: 0;
  border-left: 0;
  margin: 48px 0 0;
}

.blog-page__author-img {
  border-radius: 50%;
  margin-right: 20px;
}

.blog-page__author-name {
  margin: 0;
  font-weight: 900;
}

@media screen and (max-width: $tablet) {
  .blog-page {
    margin-top: 140px;
  }

  .blog-page__title {
    font-size: 52px;
  }

  .blog-page__btns {
    flex-basis: 40%;
  }

  .blog-page__content-wrapper {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .blog-page__heading {
    display: block;
  }

  .blog-page__heading-texts {
    margin-bottom: 32px;
  }

  .blog-page__heading {
    margin-bottom: 48px;
  }

  .blog-page__date {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: $landscape-phone) {
  .blog-page {
    margin-top: 100px;
  }

  .blog-page__title {
    font-size: 40px;
  }
}

@media screen and (max-width: $mobile) {
  .blog-page__title {
    font-size: 32px;
    margin-bottom: 30px;
  }

  .blog-page__description {
    font-weight: 700;
    font-size: 18px;
  }

  .blog-page__author {
    padding: 25px 0;
  }
}