.blog-item {
  margin-bottom: 48px;
}

.blog-item__img {
  display: block;
}

.blog-item__hashs {
  @include list-reset;
  margin: 24px 0;
  display: flex;
  flex-wrap: wrap;
}

.blog-item__hash {
  font-weight: 700;
  font-size: 11px;
  &::after {
    content: "/";
    color: #333;
    margin: 0 5px;
  }

  &:last-child::after {
    display: none;
  }
}

.blog-item__hash-link {
  color: $accent-color;
  text-transform: uppercase;
}

.blog-item__title {
  color: #333;
}