.contact {
  margin: 96px 0 48px;
  padding: 48px 0;
  background-color: #f7f7f7;
}

.contact__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact__form {
  flex-basis: 64%;  
}

.contact__label {
  font-weight: 600;
  margin-bottom: 5px;
}

.contact__field {
  display: block;
  width: 100%;
  height: 48px;
  margin-bottom: 24px;
  border: 1px solid #e0e0e0;
  font-family: inherit;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 14px;
  color: #333333;
  background-color: #ffffff;
}

.contact__field--textarea {
  height: 200px;
  resize: none;
}

.contact__card {
  flex-basis: 33%;  
  background-color: #fff;
  padding: 48px;
  font-size: 20px;
  box-shadow: 0 20px 64px 0 rgba(0, 0, 0, 0.2); 
}

.contact__address {
  margin-bottom: 24px;
  font-style: normal; 
}

.contact__link {
  width: auto;
  display: block;
  color: $accent-color;
  text-decoration: none;
  margin-bottom: 24px;

  &:hover {
    color: rgba($accent-color, 0.7);
  }

  &:focus {
    color: rgba($accent-color, 0.5);
  }
}

.contact__message {
  margin: 0;
}

.contact__message--success {
  margin: 15px;
  color: #008000;
}

.contact__message--error {
  margin: 15px;
  color: #ff0000;
}

@media screen and (max-width: $tablet) {
  .contact {
    margin-top: 48px;
  }

  .contact__container {
    display: block;
  }

  .contact__form {
    margin-bottom: 24px;
  }
}