.feedbacks {
  padding-bottom: 48px;
}

.feedbacks__list {
  @include list-reset;
}

.feedbacks__item {
  text-align: center;
  margin-bottom: 48px;
}

.feedbacks__item-figure,
.feedbacks__item-feedback {
  margin: 0;
}

.feedbacks__item-logo {
  margin-bottom: 48px;
}

.feedbacks__item-figure {
  max-width: 600px;
  margin: 0 auto;
}

.feedbacks__item-feedback {
  font-family: $book-font;
  font-size: 24px;
  margin-bottom: 72px;
}

.feedbacks__item-author {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.feedbacks__author-img {
  border-radius: 50%;
  margin-right: 24px;
}

.feedbacks__author-name {
  font-weight: 700;
}

.feedbacks__author-name,
.feedbacks__author-job {
  margin: 0;
}

.feedbacks__wrapper {
  position: relative;
}

.feedbacks__control {
  position: absolute;
  top: 50%;
  z-index: 7;
  transform: translateY(-50%) rotate(180deg);
  border: none;
  padding: 0; 
  margin: 0;
  width: 20px;
  height: 80px;
  background: url("../img/chevron.svg") no-repeat center center;
  background-size: contain;
}

.feedbacks__control--next {
  right: 0;
  transform: translateY(-50%) rotate(0); 
}