.footer {
  background-color: #333;
  color: #fff;
  padding-top: 96px;
  padding-bottom: 16px;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
}

.footer__left {
  width: 33%;
}

.footer__logo {
  display: inline-block;
  color: #fff;
  font-weight: 900;
  font-size: 24px;
}

.footer__logo-img {
  display: block;
}

.footer__right {
  flex-basis: calc(100% - 33%);
  margin-bottom: 48px;
}

.footer__slogan {
  font-size: 32px;
  line-height: 1.25;
  font-weight: 200;
  margin: 0;
  margin-bottom: 48px;
  padding: 0 24px;
}

.footer__sections {
  display: flex;
}

.footer__section {
  flex-basis: 25%;
  padding: 0 24px;
}

.footer__section-title {
  margin: 0;
  font-weight: 900;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 1.5;
}

.footer__address {
  font-style: normal;
}

.footer__contact-link {
  color: #fff;
  transition: all ease 0.05s;
  display: block;

  &:hover {
    color: $accent-color;
  }
}

.footer__contact-link--mail {
  text-decoration: underline;
  margin-bottom: 48px;
}

.footer__nav-list {
  @include list-reset;
}

.footer__nav-link {
  display: block;
  color: #e7e7e7;
  padding: 4px 0;
  transition: all ease 0.05s;

  &:hover {
    color: $accent-color;
  }
}

.footer__social-list {
  @include list-reset;
}

.footer__social-link {
  display: flex;
  align-items: center;
  padding: 4px 0;
  color: #e7e7e7;
  transition: 0.08s ease all;
}

.footer__social-icon {
  fill: #e7e7e7;
  margin-right: 13px;
  width: 20px;
  height: 20px;
  transition: 0.08s ease all;
}

.footer__social-link:hover {
  color: $accent-color;
}

.footer__social-link:hover .footer__social-icon {
  fill: $accent-color;
}

.footer__bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer__bottom > p {
  margin: 0;
}

@media screen and (max-width: $tablet) {
  .footer__container {
    display: block;
  }

  .footer__logo {
    margin-bottom: 24px;
  }

  .footer__slogan {
    padding: 0;
  }

  .footer__sections {
    display: block;
  }

  .footer__section {
    padding: 0;
    margin-bottom: 32px;
  }

  .footer__section-title {
    margin-bottom: 16px;
  }

  .footer__contact-link--mail {
    margin-bottom: 16px;
  }

  .footer__bottom {
    display: block;
  }
}