.hamburger {
  position: relative;
  background-color: #fff;
  border: none;
  padding: 0;
  display: none;
  cursor: pointer;

  &::before,
  &::after {
    width: 22px;
    height: 2px;
    background-color: #222;
    display: block;
    position: relative;
    border-radius: 1.5px;
    content: '';
  }

  &::before {
    margin-bottom: 4px;
  }
}

.hamburger--open {
  &::before {
    transform: rotate(45deg);
    top: 2px;
    margin-bottom: 0;
  }
  
  &::after {
    transform: rotate(-45deg);
  }
}

@media screen and (max-width: $tablet) {
  .hamburger {
    display: block;
    margin-left: auto;
    z-index: 3;
  }
}