.history__container {
  display: flex;
  align-items: center;
  padding-top: 96px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}

.history__content {
  margin-right: auto;
  flex-basis: 43%;
}

.history__experience {
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.36);
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 8px;
}

.history__title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 36px;
  line-height: 1.25;
  font-weight: 700;
}

.history__text {
  margin: 0;
  margin-top: 32px;
}

@media screen and (max-width: $tablet) {
  .history__img {
    width: 350px;
    height: auto;
  }
}

@media screen and (max-width: $landscape-phone) {
  .history__container {
    display: block;
  }

  .history__img {
    margin-top: 24px;
  }
}