.numbers {
  background-color: #f0f3f2;
  text-align: center;
  padding: 96px 0 48px;
}

.numbers__desc {
  margin: 0;
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.36);
  font-size: 14px;
  font-weight: 700;
}

.numbers__title {
  margin-top: 0px;
  margin-bottom: 58px;
  font-size: 36px;
  line-height: 1.25;
  font-weight: 700;
}

.numbers__list {
  color: #a1a1a1;
  display: flex;
}

.numbers__item {
  flex-grow: 1;
  margin-bottom: 48px;
}

.numbers__number {
  font-size: 128px;
  line-height: 1;
  margin: 0;
  margin-bottom: 24px;
}

.numbers__number sup {
  font-size: 56px;
}

.numbers__number-title {
  font-weight: 700;
}

@media screen and (max-width: $tablet) {
  .numbers__list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .numbers__item {
    flex-basis: calc((100% - 48px) / 2);
    margin-right: 48px;

    &:nth-child(2n),
    &:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: $landscape-phone) {
  .numbers__number {
    font-size: 60px;
  }

  .numbers__number sup {
    font-size: 30px;
  }
}

@media screen and (max-width: $mobile) {
  .numbers {
    padding: 50px 0 30px;
  }
  .numbers__list {
    display: block;
  }

  .numbers__item {
    margin-right: 0;
    margin-bottom: 30px;
  } 

  .numbers__number {
    margin-bottom: 16px;
  }
}