.partners__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.partners__item {
  flex-basis: calc((100% - 96px) / 3);
  margin-right: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;

  &:nth-child(3n),
  &:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: $tablet) {
  .partners__item {
    flex-basis: calc((100% - 48px) / 2);

    &:nth-child(3n) {
      margin-right: 48px;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}