.portfolio-tabs__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.portfolio-tabs__link {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  text-transform: uppercase;
  padding: 9px 0;
  display: block;
  margin-right: 32px;
}

.portfolio-tabs__link--active {
  border-bottom: 1px solid #333;
}