.portfolio-item {
  width: calc((100% - 144) / 4);
  margin-right: 48px;
  margin-bottom: 48px;
  position: relative;
  overflow: hidden;

  &:nth-child(4n),
  &:last-child {
    margin-right: 0;
  }
}

.portfolio-item__img {
  display: block;
  transition: 0.6s ease all;
}

.portfolio-item:hover .portfolio-item__img {
  transform: scale(1.1, 1.1);
}

.portfolio-item__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.66);
  text-align: center;
  opacity: 0;
  color: #fff;
  transition:0.3s ease all;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.portfolio-item:hover .portfolio-item__wrapper {
  opacity: 1;
}

.portfolio-item__text-wrapper {
  overflow: hidden;
}

.portfolio-item__project-name {
  margin: 0;
  transform: translateY(100%);
  transition: 0.5s ease all;
  margin-bottom: 10px;
  line-height: 1;
}

.portfolio-item:hover .portfolio-item__project-name {
  transform: translateY(0%);
}

.portfolio-item__project-description {
  margin: 0;
  transform: translateY(-100%);
  transition: 0.7s ease all;
}

.portfolio-item:hover .portfolio-item__project-description {
  transform: translateY(0%);
}

@media screen and (max-width: $tablet) {
  .portfolio-item {
    width: calc((100% - 96px) / 3);
    
    &:nth-child(4n) {
      margin-right: 48px;
    }

    &:nth-child(3n),
    &:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: $landscape-phone) {
  .portfolio-item {
    width: calc((100% - 25px) / 2);
    margin-right: 25px;
    
    &:nth-child(3n) {
      margin-right: 25px;
    }

    &:nth-child(2n),
    &:last-child {
      margin-right: 0;
    }
  }
}