.portfolio {
  padding-bottom: 96px;
}

.portfolio__list {
  @include list-reset;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 48px;
}

.portfolio__item {
  flex-basis: calc((100% - 96px) / 3);
  margin-right: 48px;
  margin-bottom: 48px;
  transform: translate3d(0px, 0px, 0px); 
  transform-style: preserve-3d;
  box-shadow: 8px 8px 65px 0 rgba(0, 0, 0, 0.1);
  transition: all 700ms cubic-bezier(.19, 1, .22, 1);

  &:nth-child(3n),
  &:last-child {
    margin-right: 0;
  }

  &:hover {
    transform: translate3d(0px, 7px, 0px); 
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
  }
}

.portfolio__item-link {
  display: block;
}

.portfolio__item-img {
  display: block;
}

.portfolio__more-btn-wrapper {
  text-align: center;
}

@media screen and (max-width: $tablet) {
  .portfolio__list {
    margin-top: 32px;
  }

  .portfolio__item {
    flex-basis: calc((100% - 48px) / 2);

    &:nth-child(3n) {
      margin-right: 48px;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: $landscape-phone) {
  .portfolio__list {
    display: block;
  }

  .portfolio__item {
    margin-right: 0;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}