.section {
  position: relative;
  z-index: 3;
}

.section--with-bg {
  background-color: #f7f7f7;
}

.section__title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 1.25;
  font-weight: 700;
  text-align: center;
}

.section__header {
  max-width: 800px;
  padding-right: 24px;
  padding-left: 24px;
  margin: 0 auto;
  text-align: center;
}

.section__description {
  margin: 0;
  color: rgb(161, 161, 161);
  font-size: 20px;
}

@media screen and (max-width: $landscape-phone) {
  .section__title {
    font-size: 26px;
  }

  .section__description {
    font-size: 16px;
  }
}