.table {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid rgba(155,155,155,.5);
  padding: 10px 20px;
  text-align: left;
}

.table__id {
  width: 100px;
}