.team {
  padding-top: 96px;
  padding-bottom: 48px;
}

.team__container {
  display: flex;
  flex-wrap: wrap;
}

.team__title {
  flex-basis: 100%;
  margin: 0;
  margin-bottom: 58px;
  font-size: 36px;
  line-height: 1.25;
  font-weight: 700;
}

.team__description {
  flex-basis: 20%;
  padding-right: 20px;
  margin: 0;
  color: #a1a1a1;
}

.team__members {
  @include list-reset;
  flex-basis: 80%;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
}

.team__member {
  position: relative;
  flex-basis: calc((100% - 48px) / 2);
  margin-right: 48px;
  margin-bottom: 48px;
  display: flex;

  &:nth-child(2n) {
    margin-right: 0;
  }
}

.team__member-img {
  margin-right: 24px;
}

.team__member-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.team__member-position {
  margin: 0;
  font-weight: 900;
}

.team__member-name {
  position: absolute;
  bottom: 48px;
  right: 0;
  font-size: 52px;
  line-height: 1.15;
  font-weight: 400;
}

.team__member-socials {
  @include list-reset;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team__member-social-link {
  display: block;
}

.team__member-social-icon {
  line-height: 0;
  font-size: 0;
}

.team__member-social-icon--facebook {
  width: 20px;
  height: 48px;
}

.team__member-social-icon--instagram {
  width: 20px;
  height: 20px;
}

.team__member-social-icon--telegram {
  width: 24px;
  height: 18px;
}

@media screen and (max-width: $tablet) {
  .team__container {
    display: block;
  }

  .team__title {
    margin-bottom: 34px;
  }

  .team__description {
    margin-bottom: 24px;
  }

  .team__members {
    padding-left: 0;
    display: block;
  }

  .team__member {
    margin-right: 0;
  }

  .team__member-content {
    display: block;
  }

  .team__member-name {
    position: static;
    margin: 0;
    font-size: 45px;
  }

  .team__member-position {
    margin-bottom: 48px;
  }

  .team__member-socials {
    justify-content: flex-start;
  }

  .team__member-social {
    margin-right: 8px;
  }
}

@media screen and (max-width: $landscape-phone) {
  .team__member-img {
    width: 200px;
    height: auto;
  }

  .team__member-name {
    font-size: 40px;
  }

  .team__member-position {
    margin-bottom: 32px;
    margin-top: 10px;
  }
}

@media screen and (max-width: $mobile) {
  .team__member {
    display: block;
    margin-bottom: 25px;
  }

  .team__member-img {
    margin-right: 0;
    margin-bottom: 24px;
  }

  .team__member-position {
    margin-bottom: 24px;
  }
}