.whowe {
  position: relative;
  z-index: 1;
  padding-bottom: 96px;
  background-color: #fff;
}

.whowe__container {
  display: flex;
}

.whowe__section {
  flex-basis: 50%;
  padding-right: 24px;
  padding-left: 24px;
}

.whowe__section-title {
  color: rgba(0, 0, 0, 0.36);
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 48px;
}

@media screen and (max-width: $tablet) {
  .whowe__container {
    display: block;
  }

  .whowe__section {
    margin-right: 0;
  }

  .whowe__section-title {
    margin-bottom: 32px;
  }
}