@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-Regular.woff2') format('woff2'),
      url('../fonts/Metropolis-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-Black.woff2') format('woff2'),
      url('../fonts/Metropolis-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-Light.woff2') format('woff2'),
      url('../fonts/Metropolis-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-Bold.woff2') format('woff2'),
      url('../fonts/Metropolis-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
      url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
      url('../fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Book Antiqua';
  src: url('../fonts/BookAntiqua.woff2') format('woff2'),
      url('../fonts/BookAntiqua.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}