$accent-color: #f09d1f;
$transition-time: 0.15s;
$laptop: 1200px;
$tablet: 992px;
$landscape-phone: 576px;
$mobile: 450px;
$montserrat: "Montserrat", "Arial", sans-serif;
$book-font: "Book Antiqua", serif;